.input-form-title {
  margin: 3rem 0rem;
}

.input-form-container {
  margin: 8rem 1rem;
}

.input-form-formtosubmit {
  border: 1px solid black;
}

.input-form-head {
  margin: 50px;
  padding: 10px;

  select {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 20px;
  }
}

.input-budgeting-data {
  border: 1px solid black;
  padding: 100px 0px;
  text-align: left;
}
